{% extends "base.html" %}

{% block title %}Videos de Formación - Proyecto de Prácticas{% endblock %}

{% block content %}
    <h2 class="text-center">Videos de Formación</h2>
    <div class="video-container">
        <div class="ratio ratio-16x9 mb-4">
            <iframe src="https://www.youtube.com/embed/Kp4Mvapo5kc" title="Introducción a Python" allowfullscreen></iframe>
        </div>
        <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed/TbcEqkabAWU" title="Variables y Operadores en Python" allowfullscreen></iframe>
        </div>
    </div>
{% endblock %}
